header.thehero
  .container
    .leadcopy.center
      :markdown
        # eMailGrouper
        ### Facilitating small-group interactions from your Inbox.

section.tos
  .container
    .row
      .col-sm-12
        :markdown
          ## What Private Beta Means
          We're currently in Private Beta, which means our features are changing every day. Hopefully for the better, and always based on your feedback and our ultimate goals for the service. Here are some guidelines of what you can expect and what we're asking of you:

          1. We strive to have a stable, reliable service that's available 24/7. However, during Private Beta, you should be prepared for occasional email delivery delays of up to 5 minutes. We may also take down the web interface for up to 5 minutes at a time, and we'll try to limit this downtime to 11pm-7am ET.

          1. While we're all building confidence in the reliability of the system, we're going to send you a confirmation email with a Subject Line that begins "Delivered:" every time you send to your group address. We realize this may be over-communicating, but we feel you'd rather have the confirmation than wonder if our system is working from one hour to the next. Pending your feedback, we will either remove this feature entirely in the future, or make it an option you can toggle on/off.

          1. We're logging a lot of information right now, so that we can learn as much as possible about how people use our service and how we can improve it. For example, if you send a link in an email to our group, the link in your email will get wrapped in our logging service so that we can see how many people are clicking links in our emails. This is something we'll turn off when we come out of Beta. NOTE that we are never logging or storing your email Body content. Our <a href="http://emailgrouper.com/terms">Terms</a> and <a href="http://emailgrouper.com/privacy">Privacy Policy</a> will always apply.
