header.thehero
  .container
    .leadcopy.center
      :markdown
        # eMailGrouper
        ### Facilitating small-group interactions from your Inbox.

section.tos
  .container
    .row
      .col-sm-12
        :markdown
          ## Privacy Policy
          #### What happens to my emails? Does someone read them?

          No. Our servers process email, but no person on our team will ever read your messages.

          #### Are my email addresses shared/sold?

          No. We won't sell or share any data that is passed through our servers.

          #### Are you going to send me spam?

          No. We won't provide your information to any third parties, or try to sell you anything on behalf of a third party. We will send you periodic updates concerning our service, but we won't bug you constantly.
